-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: 127.0.0.1    Database: plkkpi
-- ------------------------------------------------------
-- Server version	5.5.5-10.6.23-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account_user`
--

DROP TABLE IF EXISTS `account_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `account_id` varchar(191) NOT NULL,
  `provider_id` varchar(191) NOT NULL,
  `full_name_th` varchar(191) NOT NULL,
  `full_name_en` varchar(191) DEFAULT NULL,
  `email` varchar(191) DEFAULT NULL,
  `organization` text DEFAULT NULL,
  `department` varchar(191) DEFAULT '',
  `role` varchar(191) DEFAULT '',
  `active` tinyint(1) NOT NULL DEFAULT 0,
  `last_login` datetime(3) DEFAULT NULL,
  `login_count` int(11) NOT NULL DEFAULT 0,
  `created_account_at` datetime(3) DEFAULT NULL,
  `created_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `account_user_provider_id_key` (`provider_id`),
  KEY `account_user_account_id_idx` (`account_id`),
  KEY `account_user_email_idx` (`email`),
  KEY `account_user_provider_id_active_idx` (`provider_id`,`active`)
) ENGINE=InnoDB AUTO_INCREMENT=94 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_user`
--

LOCK TABLES `account_user` WRITE;
/*!40000 ALTER TABLE `account_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `department` (
  `id` varchar(191) NOT NULL,
  `name` varchar(191) NOT NULL,
  `activate` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `department_name_key` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `department`
--

LOCK TABLES `department` WRITE;
/*!40000 ALTER TABLE `department` DISABLE KEYS */;
/*!40000 ALTER TABLE `department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_report`
--

DROP TABLE IF EXISTS `kpi_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_report` (
  `money_year` int(11) NOT NULL,
  `area_name` varchar(191) NOT NULL,
  `area_level` varchar(191) DEFAULT NULL,
  `kpi_id` varchar(191) NOT NULL,
  `kpi_name` text NOT NULL,
  `kpi_target` double DEFAULT NULL,
  `result_oct` double DEFAULT NULL,
  `result_nov` double DEFAULT NULL,
  `result_dec` double DEFAULT NULL,
  `result_jan` double DEFAULT NULL,
  `result_feb` double DEFAULT NULL,
  `result_mar` double DEFAULT NULL,
  `result_apr` double DEFAULT NULL,
  `result_may` double DEFAULT NULL,
  `result_jun` double DEFAULT NULL,
  `result_jul` double DEFAULT NULL,
  `result_aug` double DEFAULT NULL,
  `result_sep` double DEFAULT NULL,
  `sum_result` varchar(191) DEFAULT NULL,
  `rate` double DEFAULT NULL,
  `status` varchar(191) DEFAULT NULL,
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`money_year`,`area_name`,`kpi_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_report`
--

LOCK TABLES `kpi_report` WRITE;
/*!40000 ALTER TABLE `kpi_report` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_report_district_province_backup_20260609`
--

DROP TABLE IF EXISTS `kpi_report_district_province_backup_20260609`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_report_district_province_backup_20260609` (
  `money_year` int(11) NOT NULL,
  `area_name` varchar(191) NOT NULL,
  `area_level` varchar(191) DEFAULT NULL,
  `kpi_id` varchar(191) NOT NULL,
  `kpi_name` text NOT NULL,
  `kpi_target` double DEFAULT NULL,
  `result_oct` double DEFAULT NULL,
  `result_nov` double DEFAULT NULL,
  `result_dec` double DEFAULT NULL,
  `result_jan` double DEFAULT NULL,
  `result_feb` double DEFAULT NULL,
  `result_mar` double DEFAULT NULL,
  `result_apr` double DEFAULT NULL,
  `result_may` double DEFAULT NULL,
  `result_jun` double DEFAULT NULL,
  `result_jul` double DEFAULT NULL,
  `result_aug` double DEFAULT NULL,
  `result_sep` double DEFAULT NULL,
  `sum_result` varchar(191) DEFAULT NULL,
  `rate` double DEFAULT NULL,
  `status` varchar(191) DEFAULT NULL,
  `updated_at` datetime(3) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_report_district_province_backup_20260609`
--

LOCK TABLES `kpi_report_district_province_backup_20260609` WRITE;
/*!40000 ALTER TABLE `kpi_report_district_province_backup_20260609` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_report_district_province_backup_20260609` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_report_id_space_backup_20260609`
--

DROP TABLE IF EXISTS `kpi_report_id_space_backup_20260609`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_report_id_space_backup_20260609` (
  `money_year` int(11) NOT NULL,
  `area_name` varchar(191) NOT NULL,
  `area_level` varchar(191) DEFAULT NULL,
  `kpi_id` varchar(191) NOT NULL,
  `kpi_name` text NOT NULL,
  `kpi_target` double DEFAULT NULL,
  `result_oct` double DEFAULT NULL,
  `result_nov` double DEFAULT NULL,
  `result_dec` double DEFAULT NULL,
  `result_jan` double DEFAULT NULL,
  `result_feb` double DEFAULT NULL,
  `result_mar` double DEFAULT NULL,
  `result_apr` double DEFAULT NULL,
  `result_may` double DEFAULT NULL,
  `result_jun` double DEFAULT NULL,
  `result_jul` double DEFAULT NULL,
  `result_aug` double DEFAULT NULL,
  `result_sep` double DEFAULT NULL,
  `sum_result` varchar(191) DEFAULT NULL,
  `rate` double DEFAULT NULL,
  `status` varchar(191) DEFAULT NULL,
  `updated_at` datetime(3) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_report_id_space_backup_20260609`
--

LOCK TABLES `kpi_report_id_space_backup_20260609` WRITE;
/*!40000 ALTER TABLE `kpi_report_id_space_backup_20260609` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_report_id_space_backup_20260609` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_report_orphan_backup_20260609`
--

DROP TABLE IF EXISTS `kpi_report_orphan_backup_20260609`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_report_orphan_backup_20260609` (
  `money_year` int(11) NOT NULL,
  `area_name` varchar(191) NOT NULL,
  `area_level` varchar(191) DEFAULT NULL,
  `kpi_id` varchar(191) NOT NULL,
  `kpi_name` text NOT NULL,
  `kpi_target` double DEFAULT NULL,
  `result_oct` double DEFAULT NULL,
  `result_nov` double DEFAULT NULL,
  `result_dec` double DEFAULT NULL,
  `result_jan` double DEFAULT NULL,
  `result_feb` double DEFAULT NULL,
  `result_mar` double DEFAULT NULL,
  `result_apr` double DEFAULT NULL,
  `result_may` double DEFAULT NULL,
  `result_jun` double DEFAULT NULL,
  `result_jul` double DEFAULT NULL,
  `result_aug` double DEFAULT NULL,
  `result_sep` double DEFAULT NULL,
  `sum_result` varchar(191) DEFAULT NULL,
  `rate` double DEFAULT NULL,
  `status` varchar(191) DEFAULT NULL,
  `updated_at` datetime(3) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_report_orphan_backup_20260609`
--

LOCK TABLES `kpi_report_orphan_backup_20260609` WRITE;
/*!40000 ALTER TABLE `kpi_report_orphan_backup_20260609` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_report_orphan_backup_20260609` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpis`
--

DROP TABLE IF EXISTS `kpis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpis` (
  `id` varchar(191) NOT NULL,
  `name` text NOT NULL,
  `evaluation_criteria` text NOT NULL,
  `condition` varchar(191) NOT NULL,
  `target_result` double NOT NULL,
  `rate_formula` varchar(255) NOT NULL DEFAULT '{A}/{B}x100',
  `excellence` varchar(191) NOT NULL,
  `area_level` varchar(191) NOT NULL,
  `ssj_department` varchar(191) NOT NULL,
  `ssj_pm` varchar(191) DEFAULT NULL,
  `moph_department` varchar(191) DEFAULT NULL,
  `kpi_type` varchar(191) NOT NULL,
  `template_url` text DEFAULT NULL,
  `last_synced_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `created_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updated_at` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `kpis_ssj_department_area_level_idx` (`ssj_department`,`area_level`),
  KEY `kpis_kpi_type_idx` (`kpi_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpis`
--

LOCK TABLES `kpis` WRITE;
/*!40000 ALTER TABLE `kpis` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpis_backup_before_rate_formula_20260609`
--

DROP TABLE IF EXISTS `kpis_backup_before_rate_formula_20260609`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpis_backup_before_rate_formula_20260609` (
  `id` varchar(191) NOT NULL,
  `name` text NOT NULL,
  `evaluation_criteria` text NOT NULL,
  `condition` varchar(191) NOT NULL,
  `target_result` double NOT NULL,
  `divide_number` double NOT NULL,
  `excellence` varchar(191) NOT NULL,
  `area_level` varchar(191) NOT NULL,
  `ssj_department` varchar(191) NOT NULL,
  `ssj_pm` varchar(191) DEFAULT NULL,
  `moph_department` varchar(191) DEFAULT NULL,
  `kpi_type` varchar(191) NOT NULL,
  `template_url` text DEFAULT NULL,
  `last_synced_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `created_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updated_at` datetime(3) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpis_backup_before_rate_formula_20260609`
--

LOCK TABLES `kpis_backup_before_rate_formula_20260609` WRITE;
/*!40000 ALTER TABLE `kpis_backup_before_rate_formula_20260609` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpis_backup_before_rate_formula_20260609` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpis_id_space_backup_20260609`
--

DROP TABLE IF EXISTS `kpis_id_space_backup_20260609`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpis_id_space_backup_20260609` (
  `id` varchar(191) NOT NULL,
  `name` text NOT NULL,
  `evaluation_criteria` text NOT NULL,
  `condition` varchar(191) NOT NULL,
  `target_result` double NOT NULL,
  `rate_formula` varchar(255) NOT NULL DEFAULT '{A}/{B}x100',
  `excellence` varchar(191) NOT NULL,
  `area_level` varchar(191) NOT NULL,
  `ssj_department` varchar(191) NOT NULL,
  `ssj_pm` varchar(191) DEFAULT NULL,
  `moph_department` varchar(191) DEFAULT NULL,
  `kpi_type` varchar(191) NOT NULL,
  `template_url` text DEFAULT NULL,
  `last_synced_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `created_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updated_at` datetime(3) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpis_id_space_backup_20260609`
--

LOCK TABLES `kpis_id_space_backup_20260609` WRITE;
/*!40000 ALTER TABLE `kpis_id_space_backup_20260609` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpis_id_space_backup_20260609` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-02  9:47:44
